* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 10vh;
    background-color: hsl(211, 71%, 10%); /* Dark navy */
}

/* Logo image */
.logo_img {
    width: 7vw;
    height: 7vh;
    margin-left: 2vw; /* Add some margin to the left */
}

/* Navigation items */
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

/* Navigation item styles */
.nav-item {
    padding: 1vh 1vw;
    font-size: 1.1vw;
    color: white;
    text-transform: uppercase;
    transition: color 0.3s ease;
    align-items: center;
}

.nav-item a {
    color: inherit;
    text-decoration: none;
}

.nav-item:hover,
.nav-item a:hover {
    color: #00aaff;
}

/* Basket icon */
.bi-basket-fill {
    color: white;
    position: absolute;
    right: 5vw; /* Align to the right of the navigation */
    top: 3vh;
    font-size: 2vw;
    cursor: pointer;
}

.bi-basket-fill:hover {
    color: #00aaff;
}

/* Media queries for responsiveness */
@media (max-width: 768px) { /* For tablets and phones */
    nav {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .logo_img {
        width: 15vw; /* Adjusted logo size for smaller screens */
        height: 15vh;
        margin-left: 0;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    .nav-item {
        padding: 1vh 2vw;
        font-size: 2vw; /* Larger font size for better readability on small screens */
    }

    .bi-basket-fill {
        right: 2vw; /* Adjust icon position for smaller screens */
        top: 2vh;
        font-size: 5vw; /* Larger icon size for better visibility on small screens */
    }
}